@import '../styles/variables';
@import '../styles/breakpoints';

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&display=swap');
.nav {
	background-color: darken($mattBlack, 5%);
	background-color: rgba(40, 40, 43, 0.2);
	@include breakpoint(md) {
		padding: 2rem 2rem;
	}
	@include breakpoint(md) {
		padding: 2rem 1rem;
	}
	.nav-wrapper {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 2rem 0;
		@include breakpoint(md) {
			max-width: 1100px;
			padding: 0;
		}
		.resume {
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 16px;
			&:hover {
				cursor: pointer;
				text-decoration: underline;
				text-decoration-color: $honey;
				text-decoration-thickness: 2px;
			}
			.resume-icon {
				max-height: 20px;
				display: flex;

				path {
					fill: $honey;
				}
			}
		}
	}
}

.project {
	background-color: $mattBlack;
	width: 100vw;
	position: relative;
	height: 100vh;
	.next-work-container {
		width: 100%;
		background-color: white;
		color: $mattBlack;
		display: block;
		position: relative;
		height: 200px;
		&:after {
			content: '';
			position: absolute;
			background-color: $mattBlack;
			top: 0;
			display: block;
			width: 100%;
			left: 0;
			height: 100%;
			transition: -webkit-transform 0.38s cubic-bezier(0.694, 0.048, 0.335, 1);
			transition: transform 0.38s cubic-bezier(0.694, 0.048, 0.335, 1);
			transition: transform 0.38s cubic-bezier(0.694, 0.048, 0.335, 1),
				-webkit-transform 0.38s cubic-bezier(0.694, 0.048, 0.335, 1);
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
		}

		&:hover:after {
			height: 100%;
			transform: translateY(0%);
			@include breakpoint(sm) {
				transform: none;
			}
		}

		&:hover > .wrapper {
			color: $silk;
			transition: all 200ms ease-in-out;
		}

		&:hover > .wrapper .arrow {
			transform: translateX(50px);
			transition: all 200ms ease-in-out;
			transition-delay: 0.2s;
		}

		&:hover > .wrapper .arrow path {
			fill: $silk;
			transition-delay: 0.2s;
		}

		@include breakpoint(sm) {
			&:focus:after {
				height: 100%;
				transform: translateY(0%);
			}
		}

		.wrapper {
			width: 1400px;
			margin: 0 auto;
			height: 200px;
			display: flex;
			align-items: center;
			padding: 2rem;
			gap: 1rem;
			position: relative;
			z-index: 1;
			@include breakpoint(md) {
				max-width: 1100px;
			}
			@include breakpoint(sm) {
				max-width: 100%;
			}
			.text {
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				justify-content: center;
				.label {
					font-size: 18px;
					font-family: 'Bitter', serif;
					position: relative;
					z-index: 2;
					transition: all 200ms ease-in-out;
					font-style: italic;
					color: $honey;
					font-weight: 600;
				}

				.project-link {
					font-size: 3rem;
					font-weight: 700;
					position: relative;
					z-index: 2;
					transition: all 200ms ease-in-out;
					text-decoration: underline;
				}
				.project-link-npm {
					font-size: 3rem;
					font-weight: 700;
					position: relative;
					z-index: 2;
					transition: all 200ms ease-in-out;
					text-decoration: underline;
					@include breakpoint(sm) {
						font-size: 2rem;
						width: 100%;
					}
				}
			}
			.arrow {
				margin-left: auto;
				width: fit-content;
				min-width: 25%;
				height: 100%;
				display: flex;
				align-items: center;
				transition: all 200ms ease-in-out;
				transition-delay: 0.2s;
				@include breakpoint(sm) {
					display: none;
				}
				svg {
					max-width: 30%;
					path {
						transition-delay: 0.2s;
					}
				}
			}
		}
	}
}
